TEMP_FOLDER=./_temp
CHROMA_PATH=chroma
FAISS_PATH=faiss

COLLECTION_NAME=local-rag
# TEXT_EMBEDDING_MODEL=nomic-embed-text
HF_EMBEDDING_MODEL=sentence-transformers/all-mpnet-base-v2
HF_LLM_MODEL=meta-llama/Llama-3.2-3B-Instruct


#OLLAMA_LLM_MODEL=llama3.2:3b , smollm:360m, mistral
#OLLAMA_LLM_MODEL=deepseek-r1:8b

OLLAMA_API_URL=http://192.168.1.41:60001
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
OLLAMA_LLM_MODEL=llama3.2:3b

#FLASK_RUN_PORT=60012
# FLASK_DEBUG=True # Optional: for development

HUGGINGFACE_TOKEN=huggingface-token
DB_HF_PATH=huggingface_path