python-dotenv
python-docx
Flask
Werkzeug
langchain
langchain-chroma
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
unstructured
unstructured-client
unstructured-inference
unstructured_inference
unstructured.pytesseract
pdfminer.six
pdf2image
pdfplumber
pi_heif
pikepdf
